<div class = "maplayerlist-container">
	<div dojoType = "dijit.layout.ContentPane" dojoAttachPoint = "layerListPane">
		<div dojoAttachPoint = "_dynamicLayersDiv" class="_dynamicLayersDiv layers_rounded_corners">
			Dynamic map layers:
			<div dojoAttachPoint = "layersList">
				<!-- Dynamic Layer checkboxes will be inserted here -->
			</div> 
		</div>
		<div dojoAttachPoint = "_baseLayersDiv" class="_baseLayersDiv layers_rounded_corners">
			Base (tiled) layers:
			<div dojoAttachPoint = "baseList">
				<!-- Tiled map service checkboxes will be inserted here -->
			</div>
		</div>
	</div>
</div>
