<div id="racquelControlDijit">
<div dojoType = "dijit.Dialog"  dojoAttachPoint = "_ControlDijitDialog" id = "racquelControlDialog" title = "RACQUEL Setup"  >
<div dojoType = "dijit.layout.ContentPane" dojoAttachPoint = "_ControlDijitContent" id="ctlContent">
	Please use the checkboxes below to choose what type of RACQUEL Searches you would like to run<br/>
	when an interactive search is performed.<br/>
	Sub-tasks selected under the catchment extraction subheading will affect batch searches as well.
	<div class="racquelControlTasks">	
	<div class="racquelControlTaskItem">
	<label for="cbControlTaskSite" class="racquelControlTaskLabel">
	<input dojoType='dijit.form.CheckBox' id="cbControlTaskSite" class='racquelControlTaskItem'  value=0 dojoAttachPoint = "_ControlDijitSite"/>
		At-site searches. Identify the properties relating to the input location itself.
	</label> 
	</div>
	<div class="racquelControlTaskItem">
	<label for="cbControlTaskRoutes" class="racquelControlTaskLabel">
		<input dojoType='dijit.form.CheckBox' id="cbControlTaskRoutes" class='racquelControlTaskItem' value=1 dojoAttachPoint = "_ControlDijitRoutes"/>
		Routes. Find the river source and tidal limit corresponding to the input location, and identify the river channel route between them.
	</label>
	</div>
	<div class="racquelControlTaskItem">
	<label for="cbControlTaskCatch" class="racquelControlTaskLabel">
		<input dojoType='dijit.form.CheckBox' id="cbControlTaskCatch" class='racquelControlTaskItem' dojoAttachPoint = "_ControlDijitCatchment"/>
		Catchment extraction. Find the catchment draining to the input location and extract catchment based information.
	</label>
	</div>
		<div id="racquel_catch_sub_tasks_label"  class="racquelControlSubTasks">
			Select which datasets you want to extract information from based on the catchment:
			<div id="racquel_catch_sub_tasks">
				
			</div>
		</div>
	</div>
	<div id="task_settings" style="display:none;">
	Other search settings:
	<br/>
	<input dojoType='dijit.form.CheckBox' class='ctm_sub_task_item' value=2 dojoAttachPoint = "_ControlDijitQC"/>
			Quality control - if route searches are also run, check that the source is within the catchment generated.
	<br/>
	<input dojoType='dijit.form.CheckBox' class='ctm_sub_task_item' value=2 dojoAttachPoint = "_ControlDijitNetLoc"/>
			Use Network Location - if route searches are run then the input location will be snapped to the 
			nearest point on the river network. If checked, this network location will be used instead of the 
			original input for the other (site and catchment) searches - this will slow down searching as the 
			route search needs to complete before other searches begin.
	</div>
	<div id="racquelControlButtons">
		<input dojoAttachPoint="_racquelControlOKButton" dojoType = "dijit.form.Button" label = "OK">
		<input dojoAttachPoint="_racquelControlCancelButton" dojoType = "dijit.form.Button" label= "Cancel">
	</div>
	
</div>
</div>
</div>
