<div id="racquelToolbar" style="position:absolute;top:0px;left:0px;z-index:999;">
	<div id="racquel-tools-container" dojoType="dijit.Toolbar" >
		<!--<img class="sidebar-arrow" src="../images/arrow-left.png" />-->
		<div id="racquel-tools-div">
			<span class="sidebar-label">RACQUEL Toolbar</span>	
			<div dojoType="dijit.form.Button" id="selectVars" iconClass="selectVarsIcon" 
				dojoAttachEvent="onClick:showVarChooser" showLabel="true">Variables</div>
			<div dojoType="dijit.form.ToggleButton" id="runInteractive" dojoAttachPoint = "_btnToggleInteractive"
				iconClass="interactiveSearchIcon" 
				dojoAttachEvent="onClick:toggleInteractiveSearch" showLabel="true">InteractiveSearch</div>
			<div dojoType="dijit.form.Button" id="runBatch" iconClass="batchSearchIcon" 
				dojoAttachEvent="onClick:activateBatchSearch" showLabel="true">Batch search</div>
							
		</div>
	</div>
	<div dojotype = "dijit.Dialog" dojoAttachPoint = "_racquelWelcomeDialog" title="Welcome to RACQUEL">
		<div dojotype = "dijit.layout.ContentPane" class = "outlinedMarginPane" dojoAttachPoint = "_racquelWelcomeContent">
			Welcome to RACQUEL - the River and Catchment Query and Extraction Layer
			<br/>
			RACQUEL enables you to run three types of query:
			<ul>
				<li>
					At-site searches. Find out what is at the site of interest. (Similar to the Identify tool in a GIS)
				</li>
				<li>
					Route searches. For a site on the river network, identify the source and tidal mouth points. Create
					routes between the source and your site, and between the site and the mouth. Retrieves the coordinates
					of the source and tidal mouth, and the distance along the stream between them
				</li>
				<li>
					Catchment searches. Defines the catchment (watershed) draining to the site. Can also summarise
					the elevation, land cover (Land Cover Map 2000), and total upstream river length within the catchment
				</li>
			</ul>
			All searches can be run in interactive or batch mode. To run an interactive search, first click "Variables"
			in the toolbar then choose which searches you want to run. Then Click the Interactive Search tool, zoom in
			to the site of interest, and click on the map.
			<br/>
			To run a batch search, click the Batch Search tool. You'll need a modern web browser like Firefox or Chrome.
			Prepare a CSV file containing the sites of interest, as described in the tool. Drag it into the tool and press go.
		</div>
		<div dojotype = "dijit.layout.ContentPane" class = "outlinedMarginPane" dojoAttachPoint = "_racquelReloadContent">
			It seems like you've been here before! RACQUEL has found some results stored from a previous visit. Please
			click Reload if you'd like to reload these results, or New Session if you'd like to discard them.
		</div>
	</div>
</div>