 .layers_rounded_corners{
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-family:Geneva,Arial,Helvetica,sans-serif;
 }
 .mapDijitSection {
        border: solid 1px #7EABCD;
		padding: 0px 0px 0px 2px;
        background-color:white;
		color:peru;
		font-size:13pt; 
		text-align:left;
		/*width:95%;*/
	
      }
.dynamic_map_service_item{
	font-size:11pt;
	border: solid 1px #7EABCD;
	margin:4px;
	padding:2px;
}
.esriLegendLayer{
		font-size:9pt; 
		text-align:left;
}
.esriLegendLayerLabel{
	font-size:10pt;
}

.dynamic_map_layer_item{
	  	font-size:9pt;
		position:relative;left:10px;
		width:90%;
	  }
.tiled_map_layer_item{
	  	font-size:9pt;
	  }